
*{
    margin: 0;
}
p {
    margin: 9px;
}

/* CSS GRID CONTAINER */
body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 250px repeat(6,250px);
    color: grey;
    grid-gap: 3px;
}

/* ITEMS ALL */
body>div {
    grid-column: 1 / -1;
    text-align: center;
}

/* NAV BUTTONS */
a{
    text-decoration: none;
    color: rgb(3, 127, 140, 1);
    background-color: rgba(187, 237, 242, 1);
    grid-column: 1 / -1;
    text-align: center;
    align-self: center;
    font-size: 1.3em;
    padding: 40px;
}

a:hover{
    background-color: rgb(186, 245, 250);
    font-size: 1.4em;
    color: rgb(2, 94, 104);    
}

.one {
    background-image: linear-gradient(rgba(187, 237, 242, 0.3), rgba(0, 66, 73, 0.9)),
    url(./images/baked-cake-donut-7000185-1217_horiz.jpg);
    font-family: Donut;
    color: rgb(274, 191, 187, 1);
    text-shadow: 3px 3px 7px rgb(116, 97, 114);
}
.one h1 {
    margin-top: 200px;
}

.yellow {
    color: rgba(217, 181, 4, 1);
    text-shadow: 3px 3px 20px rgb(217, 181, 4, 1)
}

/* FONT STYLES */
@font-face {
    font-family: Donut;
    src: url(./font/Righteous-Regular.ttf);
}

.donut-font {
    font-family: Donut;
}

@font-face {
    font-family: Script;
    src: url(./font/BadScript-Regular.ttf);
}

.script-font {
    font-family: Script;
    /* text-shadow: 3px 3px 7px rgb(116, 97, 114);
    text-align: center; */
}

@media screen and (min-width: 768px){
    body{
        grid-template-rows: 350px 50px repeat(8,420px);
    }

    .contact{
        grid-column: 4 / 7;
        padding: 15px;
    }

    .products{
        grid-column: 1 / 4;
        padding: 15px;
    }
    .article{
        grid-column: 2 / 6;
        font-size: 1.3em;
    }
    .article img {
        width: 160px;
        margin: 30px;
    }
}
