/* CSS GRID CONTAINER */
body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 350px auto auto repeat(8,350px);
    color: grey;
    grid-gap: 3px;
}

/* ITEMS ALL */
body>div {
    grid-column: 1 / -1;
    text-align: center;
}


/* NAV BUTTONS */
a{
    
    text-decoration: none;
    color: rgb(3, 127, 140, 1);
    background-color: rgba(187, 237, 242, 1);
    grid-column: 1 / -1;
    text-align: center;
    align-self: center;
    font-size: 1.3em;
    padding: 40px;
}

a:hover{
    background-color: rgb(186, 245, 250);
    color: rgb(2, 94, 104);    
}


p {
    margin: 9px;
}


/* INPUT FIELD */


input, textarea{
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
}

/* ITEM ONE */
.one {
    background-image: linear-gradient(rgba(187, 237, 242, 0.3), rgba(0, 66, 73, 0.9)),
    url(./images/baked-cake-donut-7000185-1217_horiz.jpg);
    font-family: Donut;
    color: rgb(274, 191, 187, 1);
    text-shadow: 3px 3px 7px rgb(116, 97, 114);
}

.one h1 {
    margin-top: 200px;
}

/* ITEM THREE */
.three {
    background-image: url(./images/dr\ ds\ delicious\ doughnut\ delights.jpeg);
}


/* ITEM FOUR */
.four img{
    float: right;
    width: 100px;
    margin: 12px;
}


/* ITEM FIVE */
.five {
    background-image: url(./images/Baked-Vanilla-Donuts-14.jpg);
}


/* ITEM SIX */
.six p {
    margin-top: 20px;
}
.six img{
    float: left;
    width: 100px;
    margin: 20px 12px;
}


/* ITEM SEVEN */
.seven {
    background-image: url(./images/Destination+Donuts.jpeg);
}

/* ITEM NINE - FOOTER */
.nine {
    background-image: none;
    background-color: rgb(3, 127, 140, 1);
    padding: 15px;
}

.nine h3 {
    color: pink;
}


/* ALL TEXT CONTENT */
.article h1 {
    margin-top: 20px;
}

.article p {
    font-size: 1.2em;
}


/* ALL FULL WIDTH BACKGROUND IMAGES */
.full-img {
    background-repeat: no-repeat;
    background-size: cover;
}


/* CONTENT IMAGES */
img {
    border: 6px solid rgba(217, 181, 4, 1);

}




* {
    margin: 0;
}

/* FONT COLORS */
.red {
    color: rgba(217, 4, 61, 1);
}

.blue {
    color: rgba(3, 127, 140, 1);
}

.babyblue {
    color: rgba(187, 237, 242, 1);
}

.yellow {
    color: rgba(217, 181, 4, 1);
    text-shadow: 3px 3px 20px rgb(217, 181, 4, 1)
}

.pink {
    color: rgb(274, 191, 187, 1);
}

.white {
    color: white;
}



/* FONT STYLES */
@font-face {
    font-family: Donut;
    src: url(./font/Righteous-Regular.ttf);
}

.donut-font {
    font-family: Donut;
}

@font-face {
    font-family: Script;
    src: url(./font/BadScript-Regular.ttf);
}

.script-font {
    font-family: Script;
    /* text-shadow: 3px 3px 7px rgb(116, 97, 114);
    text-align: center; */
}

@media screen and (min-width: 768px){
    body{
        grid-template-rows: 350px 50px repeat(8,420px);
    }

    .contact{
        grid-column: 4 / 7;
        padding: 15px;
        position: sticky;
        top: 0px;
    }

    .products{
        grid-column: 1 / 4;
        padding: 15px;
        position: sticky;
        top: 0px;
    }
    .article{
        grid-column: 2 / 6;
        font-size: 1.3em;
    }
    .article img {
        width: 160px;
        margin: 30px;
    }
    input, textarea{
        font-size: 1.3em;
        padding: 20px;
        grid-column: 2 / 6;
        margin: 20px;
    }
    .send, .home{
        grid-column: 2 / 6;
        padding: 15px;
        /* margin: 20px; */
        position: sticky;
        top: 0px;
    }
    .products-home{
        grid-column: 3 / 4;
        padding: 15px;
        /* margin: 20px; */
        position: sticky;
        top: 0px;
    }
    .wide{
        grid-column: 2;
        width: 600px;
    }
    .tall{
        grid-row: 2;
        width: 320px;
    }
}



