:root{
    --black: black;
    scroll-behavior: smooth;
}


body{
    font-family: "Open Sans",sans-serif;
    text-align: center;
    color: var(--black);
}
@media only screen and (min-width: 1024px) {
    main {
      background-color: rgb(248, 246, 244);
      margin: 0 140px;
    }
  }

a{
    text-decoration: none;
    /* color: var(--black); */
}
p{
    line-height: 30px;
}
hr{
    width: 20%;
}
nav{
    height: 80vh;
}
.scroll-to-top {
    position: sticky;
    top: 20px;
    text-align: right;
}
.scroll-to-top > a{
    font-size: 20pt;
    color: rgba(11, 0, 107, 0.8);
    background-color: rgba(212, 208, 172, 0.5);
    border-radius: 40px;
    padding: 10px;
    position: absolute;
    right: 5px;
    transform: rotateZ(-90deg);
}
.scroll-to-top-cover{
    text-align: right;
    position: relative;
    top: 6px;

}
.scroll-to-top-cover > a{
    font-size: 20pt;
    color: white;
    background-color: white;
    padding: 20px;
 

}

main > section{
    padding: 50px 1vw;
}

.resume-container{
    /* padding: 80px; */
    padding-left: 20px;
    text-align: left;
    background-color: rgb(246, 246, 240);
}
.resume-container > article {
    margin: 10px 0px 10px 2hw;
}
.resume-container b {
    margin: 10px 0px 10px -20px;
}
