
:root {
    --darkbrown: #794636;
    --deepblue: #076DB0;
    --lightblue: #94C0E3;
    --green: #778D01;
    --tan: #F29966;
}

@font-face {
    font-family: OpenSans;
    src: url('./font/OpenSans-Regular.ttf')
}

* {
    font-family: OpenSans;
    margin: 0;
}
body{
    /* background-color: var(--green); */
    background-image: linear-gradient(var(--lightblue), var(--green));
}
.fixedbar{
    position: fixed;
    top: 0;

}
.navbar {
    width: 100%;
    background-color: var(--darkbrown);
    text-align: right;
    border-bottom: 3px solid var(--green);
}

.navbar li{
    display: inline-block;
    padding: 18px 30px 16px 10px;
    text-transform: uppercase;
    color: var(--tan);
    cursor: pointer;
}
.navbar li:hover, .active{
    background-color: var(--deepblue);
    font-weight: bolder;
}

.feed-container {
    margin: 0px;
    text-align: center;
    overflow: hidden;
}
.feed{
    background-color: var(--lightblue);
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.post{
    background-color: var(--deepblue);
    border: 1px solid var(--darkbrown);
    padding: 11px;
    margin: 30px 8px 30px 8px;
}

.post-title{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bolder;
    color: var(--tan);
    text-shadow: -3px 0 var(--darkbrown), 0 1px var(--darkbrown), 1px 0 var(--darkbrown), 0 -1px var(--darkbrown);
}

.post-body{
    text-align: justify;
    color: white;
    padding: 1px;
    margin: 10px;
    font-size: 0.9em;
    line-height: 1.8em;
}

.post-published{
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
}


.post-img{
    width: 140px;
    float: left;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

@media screen and (min-width: 780px) {
    .feed {
        display: inline-block;
        position: relative;
        top: 60px;
        background-color: var(--lightblue);
        width: 700px;
        margin-bottom: 100px;
    }
    .mobilenav {
        display: none;
    }
    .post-body{
        font-size: 1.3em;
    }
}