.demo-card-square.mdl-card {
    width: 80vw;
    height: 70vh;
    margin: 10vh;
    }
  .demo-card-square > .mdl-card__title {
    color: #fff;
}

body{
    text-align: center;
}
.card-container{
    display: inline-block;
}
