.colored-info-box{
    display: inline-block;
    background-color: #8A93FF;
    height: 300px;
    width: 300px;
    border: 5px solid #8872E8;
    border-radius: 9px;
    text-align: center;
    color: blanchedalmond;
    overflow-y: auto;
}
.colored-info-box > :nth-child(1n){
    margin: 0;
}
.colored-info-box > h1{
    background-color: #B97DFF;
    position: sticky;
    padding: 3px;
    top: 0;
}
.colored-info-box > h3{
    background: #7DCCFF;
    padding: 4px;
    font-weight: 400;
}
.colored-info-box > p {
    line-height: 29px;
}