body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  display: flex;
  margin: 30px;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.summary{
  font-size: 20pt;
  text-align: center;
}
.current-conditions{
  display: flex;
  flex-direction: column;
  align-items: center
}
.current-conditions > div{
  margin: 10px;
}
.temp{
  font-size: 26pt;
}
.location{
  font-size: 22pt;
  text-align: center;
}
.change-location{
}
.week-forecast{
}
.week-forecast{
  font-size: 14pt;
  text-transform: uppercase;
  background-color: #9aebae;
  padding: 14px;
}

