body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center{
    text-align: center;
}

.badge-head{
    background-color: grey;
    color: white;
    font-size: 35pt;
    border-radius: 10px 10px 0 0;
    padding: 8px 0 2px 0;
}
.badge-head > p {
    font-size: 10pt;
}

.badge-body{
    padding: 10px 50px;

}

.badge {
    display: block;
    margin: 0;
    border: 2px solid black;
    border-radius: 12px;
    width: 60%;
    text-align: center;
}
.col {
    display: inline-block;
    /* width: 40%; */
    margin: 3%;
    padding: 4px;
}

.description{
    border: 2px solid black;
    text-align: left;
    padding: 5px;
    height: 120px;
}