.form-name-badge{
    margin: auto;
    display: grid;
    grid-gap: 10pt;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    border: 2px solid black;
    border-radius: 12px;
    width: 70%;
    text-align: center;
    padding: 40px;
}

.form-name-badge > :nth-child(1n){
    padding: 8pt;

}

.fn{
    grid-column: 1;
}
.ln{
    grid-column: 2;
}
.em{
    grid-column: 1;
}
.birth{
    grid-column: 2;
}
.ph{
    grid-column: 1;
}
.food{
    grid-column: 2;
}
.desc{
    grid-column: 1 / 3;
}
.submit{
    grid-column: 1 / 3;

}














/* input{
    display: block;
    border: 2px solid black;
    display: block;
    width: 100%;
    margin: 20px 0px;
    height: 20px;
    padding: 8px;

}

input::placeholder{
    color: darkgray;
    font-weight: bold;
} */



/* .form-col {
    display: inline-block;
    width: 40%;
}

.full{
    display: inline-block;
    width: 80%;
    margin: 3px;
} */
