* {
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
}

.red {
    background-color: #ED0104; 
}
.blue{
    background-color: #3B00FF;
}
.green{
    background-color: #2B8000;
}
.yellow{
    background-color: #FAFF03;
}
.purple{
    background-color: #800080;
}

div {
    height: 50px;
}
.row{
    width: 100%;
}
.row > div{
    display: inline-block;
    border: 4px solid white;
    border-radius: 8px;
}

.full{
    width: 100%;
}
.half{
    width: 50%;
}
.quarter{
    width: 25%;
}
.three-quarter{
    width: 75%;
}
h1{
    font-size: 30px;
}

.double-height{
    height: 100px;
}