/* * {
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
} */

.red {
    background-color: #ED0104; 
    grid-column-start: 1;
    grid-column-end: 5;
}
.blue{
    background-color: #3B00FF;
    grid-column: 1/3;
    grid-row: 2/4;
}
.green{
    background-color: #2B8000;
    grid-column: 3/5;
    /* grid-column-start: 3;
    grid-column-end: 5; */
}
.yellow{
    background-color: #FAFF03;
}
.purple1{
    background-color: #800080;
}
.purple2{
    background-color: #800080;
}
/* 
div {
    height: 50px;
} */

div{
    /* display: inline-block; */
    border: 4px solid white;
    border-radius: 8px;
}
body{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


