* {
    box-sizing: border-box;
    font-size: 0;
}

body {
    text-align: center;
    background-color: #252526;
}

.flag {
    --spacing: 180px;
    margin: var(--spacing) auto var(--spacing) auto;
}