*{
    margin: 0;
    box-sizing: border-box;
}

/* FONT IMPORTS */
@font-face{
    font-family: 'main text';
    src: url(../images/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2)}
@font-face{
    font-family: 'h3 font';
    src: url(../images/font1.woff2)}
@font-face{
    font-family: 'icons';
    src: url(../images/verdemoderna.woff)}
@font-face{
    font-family: 'italic footer';
    src: url(../images/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDA.woff2)}

/* COLORS */
.faded-green{
    background-color: #ECF4F0;
}
.trans-green{
    background-color: rgba(138,188,159,0.4);
}
.trans-green-dark{
    background-color: rgba(138,188,159,0.5);
}
.dark-green-text{
    color: #325050;
}
.med-green-text{
    color: rgba(138,188,159,0.4);
}

/* DIV E - FOOTER ICON BAR */
.icon{
    font-family: 'icons';
    font-size: 37pt;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.icon:hover{
    text-transform: uppercase;
}
.icon-container{
    display: inline-block;
}
.icon-container > span{
    display: inline-block;
    margin: 0 22px 0 22px;
}


/* REGULAR HTML ELEMENTS */
body{
    font-family: 'main text', sans-serif;
    color: #325050;
    line-height: 2;
    font-weight: 400;
    font-size: 10pt;
    word-spacing: 1pt;
    background: rgb(255, 255, 255) bottom / cover no-repeat url(../images/bamboo.png);
    background-attachment: fixed;
}
h3{
    font-family: 'h3 font';
    font-size: 15pt;
    font-weight: 200;
}
p{
    padding: 6px 0 6px 0;
}


/* PRIMARY GRID LAYOUT */
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 230px auto;
    grid-template-areas: 
    "head head"
    "a a" 
    "b b" 
    "c c" 
    "d d" 
    "e e"
    "f f"
    "g g";
}
.a, .b, .c, .d, .e, .f, .g {
    padding: 4vh 10vw 4vh 10vw;
}
.a{
    grid-area: a;
    background-color: #FFFFFF;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
    background-color: #FFFFFF;
}
.d{
    grid-area: d;
    background: #365f5f left / cover no-repeat url(../images/koi.jpg);
    color: rgb(146, 160, 152);
    font-size: 16pt;
    text-align: center;
    font-family: 'italic footer';
    padding: 6vh 12vw 6vh 12vw;
}
.d > a{
    color: rgb(206, 218, 212);
    font-family: 'main text';
    text-decoration: none;
}
.d > a:hover {
    text-decoration: underline;
}
.e{
    grid-area: e;
    background-color: #134347;
    text-align: center;
    padding: 2vh 10vw 2vh 10vw;

}
.f{
    grid-area: f;
    padding: 0 0 0 0;
    /* padding: 2vh 0vw 2vh 0vw; */
    /* line-height: 20px; */
    /* width: 100%; */
    /* display: grid;
    grid-template-columns: 3vw auto 3vw auto 3vw;
    grid-template-rows: 60px auto; */
    width: 100%;
}
.f-row{
    padding: 14px 0px 14px 10vw;
    display: inline-block;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(138,188,159,0.4);
    /* background-color: yellow; */
    color: rgb(146, 160, 152);

}
.f-row > div:nth-child(1){
    display: inline-block;
    /* background-color: rgb(182, 123, 123); */
    width: 55%;
    padding: 0;
    margin: 0;
}
.f-row > div:nth-child(2){
    display: inline-block;
    width: 40%;
    /* background-color: rgb(154, 154, 214); */
    padding: 0;
    margin: 0;

}
.f-row > div > h3{
    font-size: 12pt;
    margin-bottom: -11px;
    color: #426b6b;
}
.f-row > div > i {
    font-family: 'italic footer';
    font-size: 9pt;
    color: #BFC9C2;
}
.f-link {
    color: #325050;
    font-size: 9pt;
}
.g{
    grid-area: g;
    /* background-color: #E4ECE7; */
}
.h{
    grid-area: h;
    background-color: #ECF4F0;
}


/* HEADER WITH TITLE AND BUTTON */
.header{
    grid-area: head;
    background: #365f5f left / cover no-repeat url(../images/huntington.jpg);
    height: 230px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10px auto 70px 0;
    grid-template-areas: 
    " htop htop"
    " title title "
    " bar bar ";
    font-family: 'h3 font';
    
}
.header-top{
    grid-area: htop;
    background-color: #214D4E;
    height: 10px;
}
.head-title{
    grid-area: title;
    color: #ECF4F0;
    text-align: center;
    font-size: 28pt;
    font-weight: 500;
    vertical-align: middle;
    display: grid;
    grid-template-columns: auto max-content max-content auto;
    grid-template-rows: 20px 20px 50px 20px auto;
    grid-template-areas: 
    ". . . ."
    ". img . ."
    ". img txt ."
    ". img subt ."
    ". . . .";}
.txt-title {
    grid-area: txt;
    display: inline-block;
}
.head-title > img {
    grid-area: img;
    width: 70px;
    align-self: center;
    padding: 20px;
}
.sub-title {
    grid-area: subt;
    font-family: 'italic footer';
    font-size: 14pt;
    color: rgb(155, 192, 174);
}


/* HEADER VIEW ALL DESIGNS BUTTONS */
.button-bar{
    background-color: rgba(180, 209, 184, 0.2);
    grid-area: bar;
    text-align: right;
    display: grid;
    grid-template-columns: 74px auto 74px 0px;
    grid-template-rows: 70px;
}
.left-btn{
    grid-column: 2/3;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ECF4F0;
    text-align: center;
    padding-top: 18px;
    font-size: 12pt;
    font-family: 'h3 font';
    transition: background-color 250ms, font-size 400ms;
}
.right-btn{
    grid-column: 3/4;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    text-align: center;
    font-size: 32pt;
    font-family: 'icons';
    color: #ECF4F0;

}
.right-btn:before{
    content: ">";
    position: relative;
    top: -6px;
}
.right-btn:hover, .left-btn:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}


/* MEDIA QUERY FOR WIDE DISPLAY */
@media screen and (min-width: 1132px){
    .grid-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 300px auto;
        grid-template-areas: 
        "head head"
        "a f" 
        "b g" 
        "c h" 
        "d d" 
        "e e";
    }

    .button-bar{
        grid-template-columns: 74px auto 68px 14px;
        grid-template-rows: 1fr 70px 1fr;
    }
    .left-btn{
        grid-row: 2/3;
        font-size: 14pt;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms, font-size 400ms;
    }
    .right-btn{
        grid-row: 2/3;
        margin: 0 0 0 1px;
    }
    .txt-title{
        font-size: 36pt;
    }
    .head-title{
    grid-template-columns: 1fr max-content max-content 1fr;
    grid-template-rows: 20px 20px 70px 20px auto;
    grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . txt ."
    ". img subt ."
    ". . . .";
    }
    .head-title > img {
        width: 120px;
    }
    .sub-title {
        font-size: 18pt;
    }
    .header{
        height: 300px;
        grid-template-areas:
        " htop htop "
        " title bar "
        " . bar ";
    }
    .d{
        font-size: 24pt;
        padding: 98px;
    }
    .e{
        padding: 2vh 10vw 2vh 10vw;
    }
    .f{
        padding: 48px 0 0 0;
    }
    .f-row{
        border-bottom: none;
        padding: 0 0px 0px 6vw;

    }
    .f-row > div:nth-child(1n) {
        border-bottom: 1px solid rgba(138,188,159,0.4);
        margin: 0 0 0px 0;
        padding: 28px 0 20px 0;
        width: 66%;

    }
    .f-row > div > h3{
        margin-bottom: 0px;
        line-height: 20px;
        font-size: 15pt;
    }
    .f-row > div > i {
        font-size: 12pt;
    }
    .f-link{
        font-size: 10pt;
    }
    .icon{
        font-size: 54pt;
    }
    .icon-container > span{
        margin: 0 46px 0 46px;
    }


}








