.left{
    background-color: aqua;
    height: 250px;
}
.right{
    background-color: blanchedalmond;
    height: 50px;
}

.button{
    background-color: lightcoral;
    height: 50px;
}

@media screen and (min-width: 700px){
    .left{
        display: inline-block;
        width: 63%;
        height: 300px;
        margin: 0;
        position: relative;
        top: 0;
    }
    .right{
        display: inline-block;
        background-color: darkolivegreen;
        width: 36%;
        height: 300px;
    }
    .button{
        display: inline-block;
        height: 50px;
        width: 100px;
        position: relative;
        top: 100px;
        left: 50px;
    }
    .left-article{
        display: inline-block;
        width: 63%;
    }
    .right-article{
        display: inline-block;
        width: 36%;
        vertical-align: top;
    }

    /* .a, .b, .c, .d, .e {
        display: inline-block;
        width: 63%;
    } */


}

.a{
    background-color: lightgreen;
}
.b{
    background-color: burlywood;
}
.c{
    background-color: darkslateblue;
}
.d{
    background-color: indianred;
}
.e{
    background-color: lavender;
}
.f{
    background-color: lightpink;
}
.g{
    background-color: magenta;
}

