.france {
    display: inline-block;
    width: 580px;
    height: 387px;
    text-align: center;
}
.fr1{
    display: inline-block;
    background-color: #092794;
    width: 33.3%;
    height: 100%;
}

.fr2{
    display: inline-block;
    background-color: white;
    width: 33.3%;
    height: 100%;

}
.fr3{
    display: inline-block;
    background-color: #EC2D3B;
    width: 33.3%;
    height: 100%;

}