.france {
    width: 580px;
    height: 387px;
    text-align: center;
    background-color: white;
}

.france>div {
    display: inline-block;
    width: 33.3%;
    height: 100%;
}

.fr1 {
    background-color: #092794;
    float: left;
}

.fr2 {
    background-color: #EC2D3B;
    float: right;
}