.germany {
    width: 580px;
    height: 387px;
    text-align: center;
    vertical-align: top;
    background-color: #FFCD00;
}

.germany>div {
    height: 33.3%;
}

.de1 {
    background-color: #000000;
}

.de2 {
    background-color: #DB0800;
}