.sweden {
    width: 580px;
    height: 363px;
    text-align: center;
    background-color: #0C6AA6;
}

.se1 {
    background-color: #FECB00;
    position: relative;
    top: 0%;
    left: 31%;
    width: 12.5%;
    height: 100%;
}

.se2 {
    background-color: #FECB00;
    position: relative;
    top: -60%;
    left: 0%;
    width: 100%;
    height: 20%;
}