.switzerland {
    width: 480px;
    height: 480px;
    text-align: center;
    background-color: var(--cr-background);
}
:root{
    --cr-background: #FE0900;
    --cr-size: 90px;
    --cr-thickness: 18%;
}
.ch-cross{
    display: inline-block;
    background-color: white;
}

.ch-cross1 {
    width: var(--cr-thickness);
    height: 100%;
    border-bottom: var(--cr-size) solid var(--cr-background);
    border-top: var(--cr-size) solid var(--cr-background);
}
.ch-cross2{
    position: relative;
    top: calc(-50% - var(--cr-thickness) / 2);
    width: 100%;
    height: var(--cr-thickness);
    border-right: var(--cr-size) solid var(--cr-background);
    border-left: var(--cr-size) solid var(--cr-background);
}
