.tonga {
    display: inline-block;
    width: 580px;
    height: 290px;
    text-align: center;
    background-color: #BF0700;
}
.to-white{
    background-color: white;
    position: relative;
    top: 0;
    width: 42%;
    height: 50%;
}
.to1{
    background-color: #BF0700;
    position: relative;
    top:35%;
    left: 28%;
    width: 44%;
    height: 24%;
}
.to2{
    background-color: #BF0700;
    position: relative;
    top:-14%;
    left: 42%;
    width: 15%;
    height: 74%;
}
