body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title {
    text-align: center;
}

.main {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    padding: 10px;
}

#add-todo {
    border: 1px solid black;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid darkslateblue;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid darkslateblue;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bolder;
    text-transform: uppercase;
}

.todo-title{
    color: brown;
    font-size: 18pt;
}

.todo-description{
    color: darkslategrey;
    text-transform: none;
    color: white;
    font-size: 10pt;


}
#list > div:nth-child(1n){
    background-color: rgb(63,81,181,0.3);
    color: white;
    font-size: 17pt;

}
#list > div:nth-child(2n){
    background-color: rgb(68,138,255,0.3);
}
.list-element{
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: 18pt;
}

.mdl-list__item{
    margin: 9px;
    padding: 9px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 500ms ease-in-out;
    color: white;

}

.hide{
    display: none;
}
.done{
    background-color: darkslategrey ;
    color: darkgray;
}


.slide-left{
    transform: translateX(-1800px);
}

.right{
    position: relative;
    right: 25px;
    width: 20px;
}
.right > button {
    margin: 8px;
}

.mdl-snackbar__text{
    display: inline-block;
    width: 100%;
}

.mdl-js-snackbar, .mdl-snackbar {
    width: 100%;
}

.My-Color-Theme-1-rgba { color: rgba(113, 191, 129, 1); }
.My-Color-Theme-2-rgba { color: rgba(75, 128, 86, 1); }
.My-Color-Theme-3-rgba { color: rgba(151, 255, 171, 1); }
.My-Color-Theme-4-rgba { color: rgba(38, 64, 43, 1); }
.My-Color-Theme-5-rgba { color: rgba(135, 230, 154, 1); }