body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslateblue;
    font-weight: bold;
    text-transform: uppercase;

}
.title {
    text-align: center;
}

.main {
    border: 1px solid black;
    width: 75%;

    margin: auto;
    padding: 10px;
}

#add-todo {
    border: 1px solid black;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid darkslateblue;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid darkslateblue;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: uppercase;
    /* cursor: pointer; */
}

.label {
    margin: 10px;
}

.todo-title{
    color: brown;
}

.todo-description{
    color: darkslategrey;
    text-transform: none;
}
#list > div:nth-child(1n){
    background-color: rgb(203, 230, 223);
}
#list > div:nth-child(2n){
    background-color: rgb(165, 233, 216);
}
.list-element{
    display: inline-block;
    padding: 5px;
}

.mdl-list__item{
    padding: 9px;
    display: flex;
    justify-content: space-between;
    transition: all 400ms ease-in-out;
}

.hide{
    display: none;
}
.done{
    background-color: darkslategrey ;
    color: darkgray;
}


.slide-left{
    transform: translateX(-800px);
}
